@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>

</div>

<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="card col-3 card-darkgrey" style="width: 18rem;">
            <div class="card-header">
                Datum
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Banh My</li>
                <li class="list-group-item">Pho</li>
                <li class="list-group-item">Salad</li>
            </ul>
        </div>


        <div class="card col-3" style="width: 18rem;">
            <div class="card-header">
                Datum
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Banh My</li>
                <li class="list-group-item">Pho</li>
                <li class="list-group-item">Salad</li>
            </ul>
        </div>


        <div class="card col-3" style="width: 18rem;">
            <div class="card-header">
                Datum
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Banh My</li>
                <li class="list-group-item">Pho</li>
                <li class="list-group-item">Salad</li>
            </ul>
        </div>
    </div>
</div>