html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2 /*#f7f7f7*/;
}
.signin{
    background-color: #F5F5F5;

}
.nav-color {
    background-color: #264653; /*#2C2C3F*/
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 100px
}
.nav-height{
    height: 20px;
}

.active{
    border-bottom: 2px solid #F3F3F3;
}

.title {
    font-family: KoHo, Arial, Helvetica, sans-serif;
    font-size: 250%;
    margin-left: 300px;
    margin-right: 300px;
}
.central { 
    padding-left:5px;
    font-size: 40px;
    margin:30px;
 
}
.central2 {
    padding-left: 0px;
    font-size: 40px;
    margin: 30px;
}
.central-text {
    font-size: 12px;
    text-align:center;
    margin-top: 0px;
    padding-top:0px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #264653;
}

.dash-titel {
    font-family: KoHo, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.datumrubrik {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top:50px;
    
}
/*SINGLE-CARDS*/

.single-card {
    background-color: #D9D9D9;
    margin-bottom: 7px;
}
.delayed {
    border-left: 5px solid #FC1C1C /*#B64949*/;
  
}
.lectureType {
    background-color: #2a9d8f; /*#31aec4 */
}
.lecture {
    border-left: 5px solid #2a9d8f;
    /* #91ABDA*/
}
.taskType {
    background-color: #dba309 /*#e9c46a*/;
}
.task {
    border-left: 5px solid #dba309;
    /*#49B6B6*/
}
.single-info{
    font-size: 12px;
}
.single-rubrik {
    font-weight: bold;
    
}
/*DAGENS-CARDS*/
.dagens-rubrik {
    font-size: 20px;
    font-weight: bold;
}
.dagens-footer {
    height: 40px;
}
.dagens-datum {
    font-weight: bold;
}
.card-darkgrey {
    background-color: #D9D9D9;
}