@model IEnumerable<LMS20.Core.ViewModels.CoursesViewModel>

@{ViewData["Title"] = "Index";}

<h1>Kurser</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>

@foreach (var item in Model) {
    
    <div class="bd-callout bd-callout-primary">

        <span class="course-title">
            @Html.DisplayFor(modelItem => item.Name)
        </span><span>@Html.DisplayFor(modelItem => item.NrOfParticipants)</span>
        
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @item.Progress%" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

    </div>

}
