@model IEnumerable<LMS20.Core.ViewModels.CoursesViewModel>

@*Nav-bar*@
<div class="msb" id="msb">
	<nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container central">

	        <ul class="nav navbar-nav">
		        <li>
                    <a asp-action="Create" class="nav-link text-black">
                        <i class="central bi bi-mortarboard-fill"></i>
                        <div class="central-text">Skapa ny kurs</div>
                    </a>
                </li>
                <li>
                    <a asp-action="Participants" class="nav-link text-black">
                        <i class="central bi bi-person-fill"></i>
                        <div class="central-text">Lägg till ny lärare</div>
                    </a>
                </li>

	        </ul>

        </div>
    </nav>  
</div>

<h1>Kurser</h1>
<hr />


@foreach(var item in Model) {

    if(item.StartDateTime < DateTime.Now && (item.StartDateTime + item.Duration) > DateTime.Now)
    {
        <span>Pågående</span>
        <partial name="CoursePartial" model="@item"/>
    }

    if(item.StartDateTime > DateTime.Now)
    {
        <span>Kommande</span>
        <partial name="CoursePartial" model="@item"/>
    }

    if((item.StartDateTime + item.Duration) < DateTime.Now)
    {
        <span>Avslutade</span>
        <partial name="CoursePartial" model="@item"/>
    }
}
