@model ModulesViewModel


@{
    ViewData["Title"] = "Module";
     Layout = "_Layout";
}


<h1 id="participantsTitle" class="my-5">Module</h1>
<hr />
@*@Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.FirstName)*@