@model ModulesViewModel


@{
    ViewData["Title"] = "Module";
     Layout = "_Layout";
}


<h1 id="participantsTitle" class="title title-main">Översikt</h1>
<hr />
@*@Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.FirstName)*@
<div class="container-fluid">
    <div class="row justify-content-around mt-5 pt-5">

        <div class="col-10">
            <h1 class="dash-titel">Kursbeskrivning</h1>
            <hr class="mb-5">
            <p>
               @Model.Description
            </p>
           </div>


        <div class="col-10">
            <h1 class="dash-titel gap">Kursfiler</h1>
            <hr class="mb-5">
            <p>
               
            </p>
        </div>
    </div>
</div>
