@model ModulesViewModel


@{
    ViewData["Title"] = "Module";
     Layout = "_Layout";
}


<h1 id="participantsTitle" class="title title-main">Översikt</h1>
<hr />
@*@Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.FirstName)*@
<div class="container-fluid">
    <div class="row justify-content-around mt-5 pt-5">

        <div class="col-8">
            <h1 class="dash-titel">Kursbeskrivning</h1>
            <hr class="mb-5">
            <p>
               @Model.Description
            </p>
         </div>


        <div class="accordion accordion-flush col-8 lecture " id="accordion-module">
                <div class="accordion-item panel">
            
                        <h5 class="mb-0 accordion-header" id="" >
                        <button class="accordion-button collapsed dash-titel " 
                                data-bs-toggle="collapse" 
                                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Kursfiler
                        </button>
                        </h5>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" 
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> Här ska det ligga filer</div>
                    </div>
                        
                    
                 </div>
        </div>

    
    </div>
</div>

                             