@model ParticipantsViewModel

@{
    ViewData["Title"] = "Details";
}


<h1>Participants</h1>

@if (User.IsInRole("Teacher"))
{
     <a @*asp-action="En action till att lägga till användare med ajax"*@ class="my-5 btn btn-outline-dark float-end"><i title = "Lägg till en elev" class="bi bi-person-plus-fill"></i></a>
}

<table class="table my-5">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.LastName)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.ApplicationUsers.FirstOrDefault()!.Email)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <partial name="ParticipantsPartial" model="@Model.ApplicationUsers"/>
        </tbody>
    </table>

