@model IEnumerable<ApplicationUser>

@foreach (var item in Model)
{
    

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @if (User.IsInRole("Teacher"))
            { 
                <a @*asp-action=" Här inne ska det vara en action till att redigera elever som en ajax vy"*@ asp-route-id="@item.Id" class="btn btn-outline-dark float-end"><i title = "Redigera elev" class="bi bi-pencil-square"></i></a>
            }
        </td>
    </tr>
   
}